<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhengdong.jbx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name="com.example.zhengdong.base.APIManager.JBXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name="com.example.zhengdong.base.WelcomeAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.zhengdong.base.Main.MainAC"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.zhengdong.base.Section.Login.Controller.LoginAC" />
        <activity android:name="com.example.zhengdong.base.Section.Login.Controller.RegisterAC" />
        <activity android:name="com.example.zhengdong.base.Section.Login.Controller.ForgetAC" />
        <activity android:name="com.example.zhengdong.base.Section.Login.Controller.ConfirmAC" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.CommonAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.OperationAC"
            android:theme="@style/AppThemeWithWhite" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.AddtionalAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.MovePartmentAC"
            android:theme="@style/AppThemeWithWhite" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.PeopleDetailAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Login.Controller.SelectOrgAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.OrganListAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.First.Controller.IronMasterWC"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.example.zhengdong.base.APIManager.CheckNetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.WAKE_LOCK"
            android:process=":remote" />
        <!-- android:isolatedProcess="true" -->
        <receiver android:name="com.example.zhengdong.base.Macro.NetReceiver" />

        <activity
            android:name="com.example.zhengdong.base.General.BaseAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Four.Controller.FindSecondAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Four.Controller.FindDetailAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Four.Controller.FindThreeAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Four.Controller.FindAddAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Five.Controller.MineOfferAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Five.Controller.MineOfferSecondAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Five.Controller.OfferDetailAC"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.zhengdong.base.Section.Second.Controller.BoutiqueDetailAC"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.zhengdong.base.Section.Second.Controller.BoutiqueListAC"
            android:theme="@style/AppTheme"></activity>


        // 微信分享
        <activity
            android:name="com.example.zhengdong.base.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        // QQ分享
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a686ec8f29d98170c000022" >
        </meta-data>



    </application>

</manifest>